<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- BOOTSTRAP CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <!-- CSS LINK -->
  <link rel="stylesheet" type="text/css" href="/main.css">

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <title>alpacaPost</title>
