<nav >

  <!-- IF USER IS SIGNED IN DISPLAY THIS NAVBAR -->
  <% if(currentUser){%>
  <div class="fixed-top nav logged-in nav-tabs nav-fill">
      <!-- FOR LOGGED IN USERS -->
      <!-- home link -->
      <div class="left-nav">
        <!-- mini logo -->
        <img id="nav-logo" src="/images/alpaca-head.png" alt="">
        <!-- home link -->
        <a class="nav-link" href="/alpacapost">HOME</a>
        <!-- create new postcard -->
        <a class="nav-link" href="/alpacapost/new">CREATE</a>
        <!-- <a href="/alpacapost/messages">MESSAGES</a> -->
        <!-- about page link -->
        <a class="nav-link" href="/alpacapost/about">ABOUT</a>
      </div>

      <div class="middle-nav">

      </div>

      <div class="right-nav">
        <!-- username -->
        <h5 id="username">Welcome <%=currentUser.username%>!</h5>
        <!-- end session -->
        <form class="nav-right" action="/sessions?_method=DELETE" method="POST">
          <input class="nav-link log-out" type="submit" value="LOG OUT" />
        </form>
      </div>


  </div>

  <!-- IF USER IS **NOT** SIGNED IN DISPLAY THIS NAVBAR -->
  <% } else { %>

  <div class="nav nav-tabs nav-fill sticky-top">

    <!-- FOR USERS NOT LOGGED IN -->
      <!-- mini logo -->
      <img id="nav-logo" src="/images/alpaca-head.png" alt="">
      <!-- home link -->
      <a class="nav-link" href="/alpacapost">HOME</a>
      <!-- about page link -->
      <a class="nav-link" href="/alpacapost/about">ABOUT</a>
      <!-- login -->
      <a class="nav-link" href="/sessions/new">LOG IN</a>
      <!-- create new user -->
      <a class="nav-link" href="/users/new">REGISTER</a>

  </div>
  <% } %>
</nav>
