<nav  >

  <!-- HEADER -->


  <% if(currentUser){%>
  <divclass="nav nav-tabs nav-fill">
      <!-- FOR LOGGED IN USERS -->
      <!-- home link -->
      <a class="nav-link" href="/alpacapost">HOME</a>
      <!-- create new postcard -->
      <a class="nav-link" href="/alpacapost/new">CREATE</a>
      <!-- <a href="/alpacapost/messages">MESSAGES</a> -->
      <!-- about page link -->
      <a class="nav-link" href="/alpacapost/about">ABOUT</a>
      <!-- log out -->
      <form  action="/sessions?_method=DELETE" method="POST">
        <input class="nav-link" type="submit" value="LOG OUT" />
      </form>
  </div>

  <% } else { %>

  <div class="nav nav-tabs nav-fill sticky-top">

    <!-- FOR USERS NOT LOGGED IN -->
      <!-- home link -->
      <a class="nav-link" href="/alpacapost">HOME</a>
      <!-- about page link -->
      <a class="nav-link" href="/alpacapost/about">ABOUT</a>
      <!-- login -->
      <a class="nav-link" href="/sessions/new">LOG IN</a>
      <!-- create new user -->
      <a class="nav-link" href="/users/new">REGISTER</a>

  </div>
  <% } %>
</nav>
