<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <% include ./partials/nav.ejs%>
    <div class="container-fluid">
      <div class="about-content">
        <p>As someone who loves to travel, I thought it would be fun to make a website for documenting postcards. I relish the tangibility and love that goes into a real postcard, however I have found that regular mail can be quite slow, especially when sending from a foreign country. On my website called alpacaPost, users can choose from an index of pre-loaded postcards that they can add a message to or they can upload their own photo to send.</p>
        <p>There's very few animals I would trust to deliver mail for me and the alpaca is one of them. I chose the name alpacaPost because I am ever so impressed with an alpaca's ability to travel over various types of terrain in such an efficient manner. Not to mention they are, in my humble opinion, one of the cutest and spunkiest of the mammals. With my first opportunity in designing a brand, I used one of my own hand drawn images as inspiration in creating the logo.</p>
      </div>
    </div>
  </body>
</html>
