<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs%>
    <div class="above">
      About alpacaPost
    </div>
    <!-- <div class="container-fluid"> -->
      <div class="about-content">
        <div class="left">

        </div>
        <div class="right">

        </div>


      </div>
    <!-- </div> -->
    <% include ./partials/footer.ejs %>

  </body>
</html>
