<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <% include ./partials/nav.ejs%>
    <div class="above">
      About alpacaPost
    </div>
    <!-- <div class="container-fluid"> -->
      <div class="about-content">
        <div class="left">
          <p>At alpacaPost we relish the tangibility and love that goes into a real postcard. Regular mail can be quite slow, especially when sending from a foreign country. alpacaPost users can choose from an index of pre-loaded postcards that they can add a message to or they can upload their own photo to send.</p>
          <p>Alpacas are not limited to any specific type of environment so we thought they would be well-suited for the task of safely delivering a message to your loved ones.</p>
        </div>
        <div class="right">
          <img class="showimg" src="/images/alpacaface.jpeg" />
        </div>


      </div>
    <!-- </div> -->
    <% include ./partials/footer.ejs %>

  </body>
</html>
