<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <% include ./partials/nav.ejs%>
    <div class="above">
      Edit your postcard.
    </div>
    <div class="form">
      <div class="images">
        <img class="showimg" src="<%= postcard.frontImage %>" />
      </div>
      <form action="/alpacapost/<%=postcard.id%>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="front image">Front Image: </label>
          <input class="form-control" type="img" name="frontImage" value="<%=postcard.frontImage%>"/><br/>
          <label for="message">Message: </label>
          <input class="form-control" type="text" name="message" placeholder="Life is good on the road..."/><br/>
          <label for="message">Send To: </label>
          <input class="form-control" type="email" name="sendToEmail" placeholder="email here"/><br/>
          <label for="from">From: </label>
          <input class="form-control" type="text" name="sendFromName" placeholder="your name here"/><br/>
          <input class="btn btn-info" type="submit" value="Submit Edit"/>
        </div>
      </form>
    </div>


  </form>
  </body>
</html>
