<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/alpacapost/<%=postcard.id%>?_method=PUT" method="POST">
        Front Image: <input type="img" name="frontImage" value="<%=postcard.frontImage%>"/><br/>
        Dear: <input type="text" name="sendToName" placeholder="receiver's name here"/><br/>
        <!-- Send To: <input type="email" name="sendToEmail" placeholder="receiver's email here"/><br/> -->
        Message: <input type="text" name="message" placeholder="Life is good on the road..."/><br/>
        From: <input type="text" name="sendFromName" placeholder="your name here"/><br/>
        <input type="submit" value="Submit Edit"/>
    </form>

  </form>
  </body>
</html>
