<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/alpacapost" method="POST">
        Front Image: <input type="img" name="frontImage" value="image URL"/><br/>
        Dear: <input type="text" name="sendToName" value="receiver's name here"/><br/>
        <!-- Send To: <input type="email" name="sendToEmail" value="receiver's email here"/><br/> -->
        Message: <input type="text" name="message" value="Life is good on the road..."/><br/>
        From: <input type="text" name="sendFromName" value="your name here"/><br/>
        <input type="submit" value="Submit Edits"/>
    </form>

  </form>
  </body>
</html>
