<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/nav.ejs%>
    <div class="above">
      Edit your postcard.
    </div>
    <div class="container-fluid edit-container">
      <div class="editcard">
        <!-- SHOW IMAGE ON LEFT -->
        <div class="images">
          <img class="showimg" src="<%= postcard.frontImage %>" />
        </div>
        <!-- SHOW EDIT FORM ON RIGHT -->
        <div class="form">
          <form class="editright" action="/alpacapost/<%=postcard.id%>?_method=PUT" method="POST">
            <div class="form-group edit-form">
              <!-- edit front image path -->
              <label for="front image">Front Image: </label>
              <input class="form-control" type="img" name="frontImage" value="<%=postcard.frontImage%>"/><br/>
              <!-- edit message -->
              <label for="message">Message: </label>
              <textarea class="form-control" type="textarea" name="message" placeholder="In seeking happiness for others, you will find it in yourself."></textarea><br/>
              <!-- edit send to -->
              <label for="send to">Send To: </label>
              <input class="form-control" type="email" name="sendToEmail" placeholder="email here"/><br/>
              <!-- edit from -->
              <label for="from">From: </label>
              <input class="form-control" type="text" name="sendFromName" placeholder="your name here"/><br/>
              <!-- submit button -->
              <input class="showlink" type="submit" value="SUBMIT"/>
            </div>
          </form>
        </div>

      </div>
    </div>
  <% include ./partials/footer.ejs %>
  </body>
</html>
