<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <header>
      <% include ./partials/header.ejs %>
    </header>
    <% include ./partials/nav.ejs%>
    <div class="above">

      <h2>
        <!-- greet user or ask to make account -->
        <% if(currentUser){%>
          Welcome <%=currentUser.username%>!
          <h2>Click on an image to begin sending postcards.</h2>

        <% } else { %>
          Welcome!
          <h2>Please sign in or register if you would like to begin sending postcards.</h2>
        <% } %>
      </h2>


    </div>

    <div class="container-fluid">
      <!-- container for all images -->
      <div class="allImageContainer">
        <!-- break images up into rows -->
        <div class="row ">

          <% for (let i=0; i < postcards.length; i++) { %>
            <!-- break images up into columns of 4 -->
            <div class="column-sm-4">
              <!-- make the image a link that goes to the show page of the postcard -->

              <a class="cardlink" href="/alpacapost/<%=postcards[i].id%>"><img  class="cardimg" src="<%=postcards[i].frontImage%>"></a>
              
            </div>
          <% } %>

        </div>

      </div>
    </div>


    <% include ./partials/footer.ejs %>

  </body>
</html>
