<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title>alpacaPost</title>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <div class="above">
      <h2>Click on an image to begin creating your postcard.</h2>
      <a href="/alpacapost/new">Create New Postcard</a>
    </div>

    <div class="container-fluid">
      <!-- container for all images -->
      <div class="allImageContainer">
        <!-- break images up into rows -->
        <div class="row ">

          <% for (let i=0; i < postcards.length; i++) { %>
            <!-- break images up into columns of 4 -->
            <div class="column-sm-4">
              <!-- make the image a link that goes to the show page of the postcard -->
              <a class="cardlink" href="/alpacapost/<%=postcards[i].id%>"><img  class="cardimg" src="<%=postcards[i].frontImage%>"></a>

            </div>
          <% } %>

        </div>

      </div>
    </div>



  </body>
</html>
