<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <a href="/alpacapost/new">Create New Postcard</a>
    <h2>Click on an image to begin creating your postcard!</h2>

    <div class="container">
      <div class="card">
        <ul>
          <% for (let i=0; i < postcards.length; i++) { %>
            <li>

              <a href="/alpacapost/<%=i%>"><img src="<%=postcards[i].frontImage%>"></a>

            </li>
          <% } %>
        </ul>
      </div>
    </div>


  </body>
</html>
