<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <% include ./partials/nav.ejs%>
    <div class="above">
      Create a Postcard.
    </div>

    <div class="container-fluid">
      <div class="editcard">
        <div class="form">
          <form action="/alpacapost" method="POST">
              <label for="front image">Front Image: </label>
              <input class="form-control" type="file" accept="images/*" name="frontImage" placeholder="image URL"/><br/>
              <!-- Send To: <input type="email" name="sendToEmail" placeholder="receiver's email here"/><br/> -->
              <label for="message">Message: </label>
              <input class="form-control" type="text" name="message" placeholder="Life is good on the road..."/><br/>
              <label for="send to">Send To: </label>
              <input class="form-control" type="mailto" name="sendToEmail" placeholder="email here"/><br/>
              <label for="from">From: </label>
              <input class="form-control" type="text" name="sendFromName" placeholder="your name here"/><br/>
              <input class="showlink" type="submit" value="Create Postcard"/>
          </form>
        </div>

      </div>

    </div>


  </body>
</html>
