<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <img  src="https://images.unsplash.com/photo-1478024386625-2c8f6e74c874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="image of construction zone">

    <h2>This functionality is under construction. Please check back in for updates.</h2>

    <a class="navlink" href="/alpacapost">HOME</a>

      <!-- <div class="container">
        <br />
        <div class="jumbotron">
          <h1 class="display-4">SEND MESSAGE</h1>
          <br />
          <input id="name" class="form-control" placeholder="Name" />
          <br />
          <textarea id = “message” class=”form-control” placeholder=”Your Message Here”>
          </textarea>
          <br />
          <button id="send" class="btn btn-success">Send</button>
        </div>

        <div class="messages">

        </div>

      </div> -->

  </body>
</html>
