<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <div class="container">
      <div class="card">

        <div class="images">
          <img class="showimg" src="<%= postcard.frontImage %>" />
          <img class="showimg" src="<%= postcard.backImage %>" />
        </div>

        <a href="/alpacapost/<%= postcard.id %>/edit">EDIT</a>

        <form action="/alpacapost/<%=postcard.id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" />
        </form>

      </div>
    </div>

  </body>
</html>
