<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="card">


      <img class="showimg" src="<%= postcard.frontImage %>" />

      <a href="/alpacapost/<%= postcard.id %>/edit">EDIT</a>

    </div>
  </body>
</html>
