
/* PALETTE VARIABLES */
:root {
  --lavender: #7D83FF;
  --white: #FBFCFF;
  --japanese-indigo: #274156;
  --japanese-indigo-transparent: rgba(39, 65, 85, 0.22);
}

/* ------GENERAL STYLINGS------ */
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  color: var(--lavender);
  background: var(--white);
}

/* ------NAV BAR------ */
.nav {
  background: var(--lavender);
}
.nav-link {
  color: var(--white);
}
.nav-link:hover {
  text-decoration: none;
  color: var(--white);
}
.log-out {
  margin: 0;
  background: var(--lavender);
  color: var(--white);
  border: 1px solid var(--white) !important;
  border-radius: 1px 1px 0px 0px;
}
.logged-in {
  display: flex;
  justify-content: space-between;
}
.left-nav {
  display: flex;
  flex-direction: row;
}
#nav-logo {
  height: 40px;
  width: 40px;
  margin-left: 6px;
}
.right-nav{
  display: flex;
  flex-direction: row;
}
#username {
  color: var(--white);
  font-weight: lighter;
  padding-top: 10px;
  padding-right: 20px;
}
/* ------HEADER------ */
#title {
  color: var(--lavender);
  width: min-content;
  margin: 0 auto;
  padding: 0;
  font-size: 65px;
}
#title:hover{
  color: var(--white);
}
.jumbotron-fluid {
  height: 400px;
  /* gradient from https://www.cssmatic.com */
  background: var(--lavender);
  background: -moz-linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--lavender)), color-stop(100%, var(--white)));
  background: -webkit-linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  background: -o-linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  background: -ms-linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  background: linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d83ff', endColorstr='#fbfcff', GradientType=1 );
}
#logo {
  height: 150px;
  width: 105px;
}
.account-link{
  color: var(--japanese-indigo);
}
.account-link:hover{
  color: var(--lavender);
}

/* ------ABOUT SECTION------ */
.blurb {
  height: 200px;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-top: 30px;
  vertical-align: middle;
  max-width: 600px;
  font-size: 16px;
}
.postcard-image {
  height: 40vw;
  width: 60vw;
  margin: 40px auto;
}
.postcard-image > img {
  height: 100%;
  width: 100%;
  max-width: 650px;
  min-width:
}

/* ------HOW TO STEPS------ */
.how-to{
  width: 50%;
  margin: 80px auto;
  max-width: 600px;
}
#how-to-header {
  color: var(--japanese-indigo);
  margin: 20px 0;
}
.list-group {
  margin: 20px;
  font-size: 17px;
}
#how-to-btn{
  margin: 10px auto;
}


/* ------INDEX OF POSTCARDS------ */
.card {
  border: none;
  margin: 15px;
}
.card-img-top {
  height: 200px;
  width: 300px;
}
.card-img-top:hover{
  opacity: 0.8;
}


/* ------CREATE NEW POSTCARD------ */
.create-header{
  text-align: center;
  margin: 30px 0;
  margin-top: 70px;
}
#create-btn{
  text-align: center;
}

/* ------SHOW INDIVIDUAL POSTCARD------ */

.show-body {
  background-color: var(--japanese-indigo-transparent);
}
.show-container {
  margin: 100px auto;
  padding-top: 50px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white);
}
.mini-show-img {
  height: 130px;
  width: 169px;
  margin: 5px 0;
}
#mini-message-text {
  font-size: 10px;
  color: var(--japanese-indigo);
}
.right-side{
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show-btn {
  margin: 5px 0;
  width: 100%;
}
.add-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* flip card animation from w3schools.com */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  margin: auto;
  margin-bottom: 50px;
  background-color: transparent;
  width: 480px;
  height: 360px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
/* Style the back side */
.flip-card-back {
  background-color: rgba(#dbd9d6, 0.94);
  color: var(--japanese-indigo);
  transform: rotateY(180deg);
  /* border: 1px solid #554308; */
  padding: 20px;
}
#message-text{

}
#show-img{
  height: 100%;
  width: 100%;
}


/* ------NEW SESSION------ */
.new-session, .new-user{
  margin: 10px;
}


/* ------FOOTER------ */
.footer {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
#footer-link{
  color: var(--japanese-indigo);
  font-size: 18px;
}
#footer-link:hover{
  color: var(--lavender);
}




/* ------RESPONSIVE------ */
@media only screen and (max-width: 375px) {

  /* ------GENERAL------ */
  html{
    margin: 0 auto;
  }
  body {
    margin: 0 auto;
  }

  /* ------NAV BAR------ */
  #username {
    display: none;
  }

  /* ------HEADER------ */
  #logo {
    margin-top: 40px;
  }

  /* ------ABOUT SECTION------ */
  .blurb{
    font-size: 4vw;
    height: 300px;
    width: 90%;
    vertical-align: middle;
  }
  .how-to {
    width: 100%;
  }

  /* ------INDEX OF POSTCARDS------ */
  .postcard-image {
    width: 80%;
    height: 50%;
  }
  .container {
    margin: 0 auto;
  }
  .card {
    text-align: center;
}
