:root {
  --lavender: #7D83FF;
  --white: #FBFCFF;
  --japanese-indigo: #274156;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  color: var(--lavender)
}
a {
  color: var(--lavender)
}
a:hover {
  text-decoration: none;
  color: var(--white);
}
.jumbotron-fluid {
  height: 400px;
  /* gradient from https://www.cssmatic.com */
  background: var(--lavender);
  background: -moz-linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--lavender)), color-stop(100%, var(--white)));
  background: -webkit-linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  background: -o-linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  background: -ms-linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  background: linear-gradient(45deg, var(--lavender) 0%, var(--white) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d83ff', endColorstr='#fbfcff', GradientType=1 );
}
#logo {
  height: 150px;
  width: 105px;
}
#title>h1 {
  font-size: 65px;
}
.blurb {
  height: 18vw;
  width: 70vw;
  margin: 50px auto;
  margin-bottom: 5px;
  vertical-align: middle;
  max-width: 600px;
  font-size: 16px;
}
.postcard-image {
  height: 40vw;
  width: 60vw;
  margin: 40px auto;
}
.postcard-image > img {
  height: 100%;
  width: 100%;
  max-width: 600px;
  min-width:
}
.how-to{
  width: 50%;
  margin: 80px auto;
  max-width: 600px;
}
#how-to-header {
  color: var(--japanese-indigo);
  margin: 20px 0;
}
.list-group {
  margin: 20px;
  font-size: 17px;
}
#hot-to-btn{
  margin: 10px auto;
}

.card {
  border: none;
  margin: 15px;
}
.card-img-top {
  height: 200px;
  width: 300px;
}
.card-img-top:hover{
  opacity: 0.8;
}
