<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="text-center">

    <% include ../partials/nav.ejs%>

    <% include ../partials/header.ejs %>

    <div class="above">
      <h2>Please log in.</h2>
      <h5>Not a user yet? Create an account <a class="account-link" href="/users/new">here.</a> </h5>
    </div>
    <div class="form newsession">
      <form  action="/sessions" method="POST">
        <div class="form-group">
          <input class="form-control-lg" type="text" name="username" placeholder="username"/><br />
          <input class="form-control-lg" type="password" name="password" placeholder="password"/><br />
          <input class="btn btn-success" type="submit" value="Log In" />
        </div>

      </form>

    </div>
    <% include ../partials/footer.ejs %>

  </body>
</html>
