<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header class="jumbotron">
      <h1>alpacaPost</h1>
      <nav>
        <a href="/alpacapost">Home</a>
      </nav>
    </header>
    <h1>Create User</h1>
        <form action="/users" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="submit" value="Create User" />
        </form>
  </body>
</html>
